<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EduSuport"
        tools:targetApi="31">
        <activity
            android:name=".activity.ThuGopYPhActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThemHocSinhActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ThemLopHocActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.NhapDiemCaNhanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.NhapDiemChungActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.NhanXetChungActivity$NhanXetCaNhanActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.NhanXetChungActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DanhSachLopHoc"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DanhSachHocSinh"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePassword"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Message"
            android:exported="true" />
        <activity
            android:name=".activity.Home"
            android:exported="true" />
        <activity
            android:name=".activity.EditInformation"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterAccount"
            android:exported="true" />
        <activity
            android:name=".activity.Login"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.DonXinPhepNghiHocActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DuyetDonXinNghiHocActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.GuiThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThuGopYActivity"
            android:exported="false" />

        <activity
            android:name=".activity.XemDiemActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ChinhsuaThoiKhoaBieuActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.XemThoiKhoaBieuActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.Main_DonXinNghiHoc_PH"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.Main_them_gopy_PH"
            android:exported="false" />
        <activity
            android:name=".activity.Main_ThuGopY_PH"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activity.HopThuGopYActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.Main_TheLat_HS_Stydy"
            android:exported="false"></activity>
        <activity
            android:name=".activity.Main_TheLat_GV"
            android:exported="false" />
        <activity
            android:name=".activity.DangTaiTaiLieu_MonActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activity.DangTaiTaiLieuActivity"
            android:exported="false" />
    </application>

</manifest>